html{
    margin: 0 auto;
    width: 1440px;
}
header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    display: flex;
    gap:12px;
    align-items: center;
    width: 388px;
    height: 71px;
}
.les{
    width: 251.72px;
    height: 45.246px;
}
a{
    text-decoration: none;
    color: #1E1E1E;
    font-family: Mont;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
p{
    color: rgba(30, 30, 30, 0.62);
    font-family: Mont;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    
}
span{
    color: #1E1E1E;
    font-family: Mont;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.button{
    border-radius: 40px;
    background: linear-gradient(91deg, rgba(61, 184, 70, 0.00) 2.44%, #3DB846 56.96%, rgba(61, 184, 70, 0.00) 99.45%), #447C2A;
    box-shadow: 0px 12px 12px 0px rgba(42, 124, 48, 0.34);
    width: 289px;
    height: 52px;
    text-align: center;
    color: #FFF;
    font-family: Mont;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 25px;
}
.usad{
    background-image: url(img/babka.png);
    background-size: cover;
    width: 1424px;
    height: 600px;
    border-radius: 90px;
    
}